Flask==0.10.1
Flask-Login==0.2.11
Flask-OAuth==0.12
Flask-SQLAlchemy==2.0
Jinja2==2.7.3
MarkupSafe==0.23
PyJWT==0.3.0
SQLAlchemy==0.9.8
Werkzeug==0.9.6
httplib2==0.9
itsdangerous==0.24
oauth2==1.5.211
oauthlib==0.7.2
psycopg2==2.5.4
pysqlite==2.6.3
python-openid==2.2.5
python-social-auth==0.2.1
pyzipcode==0.4
requests==2.4.3
requests-oauthlib==0.4.2
six==1.8.0
wsgiref==0.1.2
