body{
	font-family: "Open Sans",sans-serif;
	font-weight: 300;
	padding: 37px;
	padding-top: 70px;
	margin: 20px;
}

h1, h2, h3, h4{
	font-family: 'Concert One', cursive;
	font-weight: 400;
	line-height: 1.2em;
}

li{
	display: list-item;
	text-align: -webkit-match-parent;
}

#listing-form {
	width:50%;
	float:left;
}

.leaflet-popup-content img {
  	width: 240px;
  }

.leaflet-popup-content {
  	font-size: 18px;
  	text-align: center;
  }

.attr-title{
	display: inline-block;
	margin-right: .4em;
	font-weight: bold;
}

.attr-list{
	list-style-type: none;
	padding: 0;
	display: in-line;
}

.attr-list li:nth-of-type(2n-1){
	background: #ecf0f1;
}

#verify-bike{
	display: None;
}

#bike-pic{
	width:500px;
}

/* customized bootstrap navbar */

.navbar-default {
background-color: #00529f;
border-color: #000000;
}
.navbar-default .navbar-brand {
color: #f9fdff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
color: #ecdbff;
}
.navbar-default .navbar-text {
color: #f9fdff;
}
.navbar-default .navbar-nav > li > a {
color: #f9fdff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #ecdbff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #ecdbff;
background-color: #000000;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
color: #ecdbff;
background-color: #000000;
}
.navbar-default .navbar-toggle {
border-color: #000000;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #000000;
}
.navbar-default .navbar-toggle .icon-bar {
background-color: #f9fdff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
border-color: #f9fdff;
}
.navbar-default .navbar-link {
color: #f9fdff;
}
.navbar-default .navbar-link:hover {
color: #ecdbff;
}

@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #f9fdff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #ecdbff;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ecdbff;
  background-color: #000000;
}
}
