{% extends 'base.html' %}

{% block content %}
		<form id="target">
			<input id="bike_serial" type="text" name="bike-index-id" placeholder="Bike Serial Number"></input>

			<button type="submit"> Find your bike </button><br><br>

		</form>
	
			<div id="verify-bike" class="bike-info">
				<img id="bike-pic"><br><br>
				<h1></h1>
				<ul class="attr-list">
					<li id="serial"><span class="attr-title">Serial</span></li>
					<li id="manufacturer"><span class="attr-title">Manufacturer</span></li>
					<li id="model"><span class="attr-title">Model</span></li>
					<li id="year"><span class="attr-title">Year</span></li>
					<li id="material"><span class="attr-title">Frame Material</span></li>
					<li id="handlebar"><span class="attr-title">Handlebar type</span></li>
					<li id="wheel"><span class="attr-title">Wheel diameter</span></li>
					<li id="color"><span class="attr-title">Primary colors</span></li>
				</ul>
				<div id='confirm'>
					<form>
						<h2> Is this your bike? </h2>
						<button id="Yes">Yes</button>
						<button id="No">No</button>
					</form>	
				</div>
			</div>

		<script src="static/js/getbike.js"></script>	
		
{% endblock %} 
