<html>
	<head>
		<meta charset="utf-8">

		<title>
			Sell your bike
		</title>

	<style>
	.attr-title{
		display: inline-block;
		margin-right: .4em;

	}
	.attr-list{
		list-style-type: none;
		margin: 0;
		padding: 0;
		position: relative;
	}
	.attr-list li:nth-of-type(2n-1){
		background: #ecf0f1;
	}
	li{
		display: list-item;
		text-align: -webkit-match-parent;
	}
	#bike-info{
		display: None;
	}
	}

	</style>

	</head>

	<body>
		<form id="target">

			<input id="bike_serial" type="text" name="bike-index-id" placeholder="Bike Serial Number"></input>

			<button type="submit"> Find your bike </button><br><br>

		</form>
	
			<div id="bike-info">
				<h1>Is this your bike?</h1>
				<img id="bike-pic"><br><br>
				<div id='confirm'>
					<form>
						<button id="Yes">Yes</button>
						<button id="No">No</button>
					</form>	
				</div>
				<ul class="attr-list"></ul>
			</div>
		
		<!-- jQuery v1.11.0 -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

		<script>

		$("#target").submit(function(e){
			e.preventDefault();
			var serial = $("#bike_serial").val();
			getBike(serial);
		});

		function getBike(serial) {

			$.get("https://bikeindex.org/api/v1/bikes?serial=" + serial, function(data){

				// check to make sure we got one bike back
				if (data["bikes"].length === 1){
					var bike = data["bikes"][0];
				}
				else {
					alert("No bike with that serial number found.");
				}

				if (bike){
					// display bike photo and form for verification
					$("#bike-info").show();
					var photo = bike["thumb"];
					$("#bike-pic").attr('src', photo);
					// add click listener to Yes/No buttons
					$("#Yes").on("click",function(e){
						e.preventDefault();
						postBike(bike); 		// Why isn't this working?
					});
					$("#No").on("click", function(e){
						alert("Oh, bummer!");
					});
				}
			});
		}

		function postBike(bike){
			// Turn bike object into JSON string to pass to python
			var bikedata = JSON.stringify(bike);	

			$.post("/addbike", {bike: bikedata}, function(){
				alert("Bike added to database!");	// or flash message in flask
			});
		}

		</script>

	</body>


</html>