{% extends 'base.html' %}

{% block content %}
<!-- Extend head / custom styles block? -->
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />

<style>
#search-results{
	list-style-type: none
}

#search-results img{
	width: 200px;
}

#search-results li{
	margin: 30px;
}

#map-panel{
	background-color: #69A0CB;
	height: 100%;
}

.leaflet-popup-content img {
  	width: 240px;
  }

.leaflet-popup-content {
  	font-size: 18px;
  	text-align: center;
  }

 #search-filters{
 	background-color: #e4e4e4;
 	height: 100px;
 	padding: 20px;
 	margin: 10px;
 	width: 100%;
 }

#material-filters{
	display:inline-block;
	float: left;
	margin-right:20px;
}

#handlebar-filters{
	display:inline-block;
	margin-left: 20px;
	margin-right:20px;
}

#price-filters{
 	display:inline-block;
	margin-left: 20px;
	margin-right: 20px;
 }

input[type=number]{
    width: 60px;
} 

</style>

<div class="row" id="search-filters">
		<form  action= "#">
		<div id="material-filters">
			<strong>Frame Material</strong><br>
			<input name="Titanium" type="checkbox">Titanium</input>
			<input name="Carbon or composite" type="checkbox">Carbon Fiber</input>
			<input name="Aluminum" type="checkbox">Aluminum</input>
			<input name="Steel" type="checkbox">Steel</input>
			<!-- <input name="Wood or organic material" type="checkbox">Wood/Bamboo</input>  -->
		</div>
		<div id="handlebar-filters">
			<strong>Handlebars</strong><br>
			<input name="Drop" type="checkbox">Drop</input>
			<input name="Flat" type="checkbox">Flat</input>
<!-- 		<input name="Forward facing" type="checkbox">Forward-facing</input>
			<input name="Rear facing" type="checkbox">Rear-facing</input>
			<input name="Not handlebars" type="checkbox">Not handlebars</input>
			<input name="BMX style" type="checkbox">BMX-style</input> -->
		</div>
		<div id="price-filters">
			<strong>Price</strong><br>
			Min: $ <input name="min_price" type="number"></input>
			Max: $ <input name="max_price" type="number"></input>
		</div>
		<input type="submit" id="filter-submit" value="Apply Filters"></button>
	</form>
</div>

<div class="row">
	<div class="col-md-4">
		<ul id="search-results">
		<!-- Search results will go here -->
		</ul>
	</div>
	<div id="map-panel" class="col-md-8">

	</div>
</div>

<script>

	var displaySearchResults = function(data) {

		var resultsDiv = $("#search-results");
		resultsDiv.empty();

		// Clear any markers that are on map 
		if (typeof markerLayer !== 'undefined'){
			markerLayer.clearLayers();
		} 
		markerList = [];

		// Loop through response object
		for (var i = 0; i < data['response'].length; i++){
			// Current listing
			var listing = data['response'][i];

			// Create JQuery object for listing title/link
			var $listingLink = $("<a />",{
				href: listing.url,
				text: listing.title 
			});
			
			// Create JQuery object for bike photo	
			var $bikePhoto = $("<img>")
			$bikePhoto.attr('src', listing.photo)

			// Wrap them in a list item and append to search results list
			resultsDiv.append("<li>");
			$listingLink.appendTo("#search-results");
			resultsDiv.append("<br>");
			$bikePhoto.appendTo("#search-results"); 
			resultsDiv.append("</li>");

			// Append it to the search results panel
			$bikePhoto.appendTo('#search-results');

			// create new marker/layer
			newMarker = L.mapbox.featureLayer(); 

			// Defining custom HTML for marker's popup
			newMarker.on('layeradd', function(e){
				var marker = e.layer;
				var photo = marker.feature.properties.image;
				var url = marker.feature.properties.url;

				var popupContent = '<a href="' + url + '">' + 
									marker.feature.properties.title + '</a><br>' +
									'<img src="' + photo + '">';
				
				marker.bindPopup(popupContent,{
					closeButton: false,
					// minWidth: 280
				});
			});

			// Define geoJSON for new marker
			var geoJson = [{
					type: 'Feature',
					"geometry": { 
						"type": "Point", 
						"coordinates": [listing.longitude, listing.latitude]
					},
					"properties": {
						"title": listing.title,
						"image": listing.photo,
						"url": listing.url,
						'marker-size': 'large',
			        	'marker-color': '#FF6699',
			        	'marker-symbol': 'bicycle'
					}
			}];

			// Set geoJSON
			newMarker.setGeoJSON(geoJson);

			// Add marker to the list
			markerList.push(newMarker);
		}
		// Create a group for all the markers
		markerLayer = L.layerGroup(markerList)
		// And add them all to the map at once
		markerLayer.addTo(map);
	}

	function loadSearchResults(materials, min_price, max_price, handlebars){
		$.get('/get_all_bikes', {	materials: materials, 
									min_price: min_price, 
									max_price: max_price,
									handlebars: handlebars }, displaySearchResults);
	}

	function initializeMap(){
		//Connect to MapBox API
		L.mapbox.accessToken = "pk.eyJ1Ijoiam1jZWxyb3kiLCJhIjoiVVg5eHZldyJ9.FFzKtamuKHb_8_b_6fAOFg";

		// Initiate map and set view
		map = L.mapbox.map('map-panel', 'examples.map-i86nkdio');
		map.setView([37.79, -122.41], 14);

	}

	function addEventListeners(){

		$('#filter-submit').click(function(e){

			e.preventDefault();

			var materials = [];
			$('#material-filters input:checked').each(function(i,material){
		 		materials.push($(material).attr('name'));
			});

			var min_price_value = $('#search-filters input[name="min_price"').val();
			if (min_price_value.length > 0){
				var min_price = min_price_value
			}
			else{
				var min_price = "";
			}

			var max_price_value = $('#search-filters input[name="max_price"').val();
			if (max_price_value.length > 0){
				var max_price = max_price_value
			}
			else{
				var max_price = "";
			}

			var handlebars = [];
			$('#handlebar-filters input:checked').each(function(i,handlebar){
		 		handlebars.push($(handlebar).attr('name'));
			});

			loadSearchResults(materials, min_price, max_price, handlebars);
		});
	}

	$(document).ready(function(){

		initializeMap();

		loadSearchResults([]);

		addEventListeners();

	});
	

</script>

{% endblock %} 
