{% extends 'base.html' %}

{% block content %}
<!-- Extend head / custom styles block? -->
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />

<style>
#search-results{
	list-style-type: none
}

#search-results img{
	width: 200px;
}

#search-results li{
	margin: 30px;
}

#map-panel{
	background-color: #69A0CB;
	height: 100%;
}

.leaflet-popup-content img {
  	width: 240px;
  }

.leaflet-popup-content {
  	font-size: 18px;
  	text-align: center;
  }

 #search-filters{
 	background-color: #e4e4e4;
 	height: 125px;
 	padding: 20px;
 	margin: 10px;
 	width: 100%;
 }

</style>

<div class="row" id="search-filters">
	<strong>Frame Material</strong><br>
	<form action= "/">
	<input name="Titanium" type="checkbox">Titanium</input>
	<input name="Carbon or composite" type="checkbox">Carbon Fiber</input>
	<input name="Aluminum" type="checkbox">Aluminum</input>
	<input name="Steel" type="checkbox">Steel</input><br><br>
	<input type="submit" id="filter-submit" value="Apply Filters"></button>
</form>
</div>

<div class="row">
	<div class="col-md-4">
		<ul id="search-results">
		<!-- Search results will go here -->
		</ul>
	</div>
	<div id="map-panel" class="col-md-8">

	</div>
</div>

<script>	
	// $(document).ready(function(){
	// 	$('#filter-submit').click(function(){
	// 		var materials = [];
	// 		$('#search-filters input:checked').each(function(){
	// 			materials.push(this.materials);
	// 		});

	// 		// filters = json.stringify(materials)

	// 		// redo home url with materials
	// 		$.get("/", {material: filters} ???????????? );
	// 	});

	L.mapbox.accessToken = "pk.eyJ1Ijoiam1jZWxyb3kiLCJhIjoiVVg5eHZldyJ9.FFzKtamuKHb_8_b_6fAOFg";

	var map = L.mapbox.map('map-panel', 'examples.map-i86nkdio');
	map.setView([37.79, -122.41], 14);

	$.get('/get_all_bikes', function(data){

		for (var i = 0; i < data['response'].length; i++){
			// Current listing
			var listing = data['response'][i];

			// Create JQuery object for listing title/link
			var $listingLink = $("<a />",{
				href: listing.url,
				text: listing.title 
			});
			
			// Create JQuery object for bike photo	
			var $bikePhoto = $("<img>")
			$bikePhoto.attr('src', listing.photo)

			// Wrap them in a list item and append to search results list
			$("#search-results").append("<li>");
			$listingLink.appendTo("#search-results");
			$("#search-results").append("<br>");
			$bikePhoto.appendTo("#search-results"); 
			$("#search-results").append("</li>");

			// Append it to the search results panel
			$bikePhoto.appendTo('#search-results');

			// Add listing to map
			var newLayer = L.mapbox.featureLayer().addTo(map);

			// Create geoJSON object for marker
			var geoJson = [{
					type: 'Feature',
					"geometry": { 
						"type": "Point", 
						"coordinates": [listing.longitude, listing.latitude]
					},
					"properties": {
						"title": listing.title,
						"image": listing.photo,
						"url": listing.url,
						'marker-size': 'large',
			        	'marker-color': '#FF6699',
			        	'marker-symbol': 'bicycle'
					}
			}];

			// Adding custom HTML popup to marker
			newLayer.on('layeradd', function(e){
				var marker = e.layer;
				var photo = marker.feature.properties.image;
				var url = marker.feature.properties.url;

				var popupContent = '<a href="' + url + '">' + listing.title + '</a><br>' +
									'<img src="' + photo + '">';
				
				marker.bindPopup(popupContent,{
        			closeButton: false,
        			// minWidth: 280
    			});
			});

			newLayer.setGeoJSON(geoJson);
		}
	});

</script>

{% endblock %} 
