<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">

      <title> {% block title %} {% endblock %} BikeList</title>
        
      <!-- Stylesheets -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
      <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
      <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
      <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
      <link href="{{ url_for('static',filename='css/jquery.nouislider.css') }}" rel="stylesheet">
    </head>

    <body>

    <nav class="js-header navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" id="logo" href="/">
            BikeList</span>
            <!-- <img alt="brand" src="..." > -->
          </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            
            {% if g.logged_in %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><h4><span class="caret"></span> {{g.name}} </h4></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/mylistings">My Listings</a></li>
                <li class="divider"></li>
                <li><a href="/favoritebikes">My Favorite Bikes</a></li>
                <li class="divider"></li>
                <li><a href="/logout">Logout</a></li>
                <li class="divider"></li>
              </ul>
            </li>

          {% else %}
            <li>
              <a data-toggle="modal" data-target="#login-modal"><h4>Login</h4></a>
            </li>

          <!-- Login Modal -->
          <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" style="color:black;">Sign into BikeList</h3>
                  </div>
                <div class="modal-body">
                  <a href="/facebook_login"><img style="width:50%" src="http://i.stack.imgur.com/pZzc4.png"></a>
                </div>
              </div>
            </div>
          </div>

            {% endif %}

          <li>
            <form class="navbar-form navbar-right" action="/sell">
              <button type="button" id="btn-list-bike" class="btn btn-default btn-md" data-toggle="modal" data-target="#list-bike-modal">List Your Bike</button>
            </form>
          </li>

          <!-- List Your Bike Modal -->
          <div class="modal fade" id="list-bike-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h3 class="modal-title" style="color:black;">List Your Bike</h3>
                </div>
                <div id="list-modal-body" class="modal-body">
                  <form id="get-serial">
                    <h3>Enter your bike serial number to get started.</h3><br>
                    <img id="loading" width="62px" src="{{ url_for('static',filename='images/spinner.gif') }}" />
                    <input class="form-control" id="bike-serial" type="text" name="serial" placeholder="Bike Serial Number"></input><br><br>
                    <strong>Note:</strong>&nbsp;Your bike must already be registered at <a href="http://www.bikeindex.org/"> BikeIndex.org </a> before you can sell it on BikeList. Make sure you have filled out as much information about your bike as possible on your BikeIndex registration. <br><br>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button id="submit-serial" class="btn btn-primary">Find Your Bike</button>
                </div>
              </div>
            </div>
          </div>


          </ul>
        </div>
      </div>
    </nav>

    <div id="maindiv" class="container-fluid">

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}

        <!-- make a class="flashes"--> 
        {{message}}

      {% endfor %}
      {% endif %}
      {% endwith %}

      {% block content %} 
      <!-- Child template will be inserted here -->
      {% endblock %}

    </div>
      
      <!-- Underscore -->
      <script src="{{ url_for('static',filename='js/underscore.js') }}"></script>
      <!-- JQuery -->
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <!-- Backbone -->
      <script src="{{ url_for('static',filename='js/backbone.js') }}"></script>
      <!-- Bootstrap -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
      <!-- Mapbox -->
      <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
      <!-- price slider -->
      <script src="{{ url_for('static',filename='js/jquery.nouislider.all.min.js') }}"></script>
      <!-- Google geocoding -->
      <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
      <!-- Main app -->
      <script src="{{ url_for('static',filename='js/main.js') }}"></script>
      
      <script>
      {% block scripts %}
      // Page-specific scripts will be added here 
      {% endblock %}
      </script>

    </body>
</html>