<html>
    <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="description" content="">
          <meta name="author" content="">

          <title> {% block title %} {% endblock %} BikeList</title>

            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

            {% block scripts %} 
            <!-- Page-specific scripts will be added here -->
            {% endblock %}

            <!-- Stylesheets -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
            <link href='http://fonts.googleapis.com/css?family=Concert+One' rel='stylesheet' type='text/css'>
           
    <style>

      #header-search{
        display:inline-block;
        size: 40px;
        margin-top: 41px;
      }
      #bikelist-header{
        padding: 7px 20px;
        background: #e4e4e4;
        border-bottom: 1px solid;
        font-color: white;
      }
      #header-avatar{
        border-radius:10px;
        width: 50px;
        margin-right:50px;
        margin-left: 5px;
      }

      #maindiv{
        margin-top:75px;
      }

    </style>


    </head>

    <body>
      <!-- Navigation -->
      <nav class="nav navbar-fixed-top" id="bikelist-header">
              <div>
                  <a class="navbar-brand" href="/"><h2>BikeList</h2></a>
                  <input type="text" id="header-search" placeholder="Find bikes near you"></input>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div>
                  <ul class="nav navbar-right">
                      {% if not session.logged_in %}
                      <li>
                        <a href="/login">Login</a>
                      </li>
                      {% else %}
                      <li>
                        <span class="caret"></span> {{ g.name }} <img id="header-avatar" src="{{ g.avatar }}" > 
                      </li>            
                      {% endif %}
                  </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
      </nav>

      <div id="maindiv" class="container-fluid">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}
            <ul class="flashes">
                <li>{{message}}</li>
             </ul>
          {% endfor %}
          {% endif %}
          {% endwith %}

          {% block content %} 
          <!-- Child template will be inserted here -->
          {% endblock %}
      </div>



      <div id="footer">
        {% block footer %}
         <!-- Fancy footer here -->
        {% endblock %}

    </body>
</html>