{% extends 'base.html' %}

{% block content %}


	<div class="container">
		<h3> List your bike </h3>
		<form id="get-serial">
			Enter the serial number of the bike you want to sell. Remember, your bike has to be registered at BikeIndex.org before you can make a listing for it.<br><br>
			<input id="bike-serial" type="text" name="serial" placeholder="Bike Serial Number"></input><br><br>
			<button id="submit-serial" type="submit"> Find your bike </button><br><br>
		</form>

		<form action="/bikeindex_login">
			<button type="submit"> Connect to your BikeIndex account </button>
		</form>
		
		<div id="verify-bike" class="bike-info">
			<img id="bike-pic"><br><br>
			<h1></h1>
			<ul class="attr-list">
				<li id="serial"><span class="attr-title">Serial</span></li>
				<li id="manufacturer"><span class="attr-title">Manufacturer</span></li>
				<li id="model"><span class="attr-title">Model</span></li>
				<li id="year"><span class="attr-title">Year</span></li>
				<li id="material"><span class="attr-title">Frame Material</span></li>
				<li id="handlebar"><span class="attr-title">Handlebar type</span></li>
				<li id="wheel"><span class="attr-title">Wheel diameter</span></li>
				<li id="color"><span class="attr-title">Primary colors</span></li>
			</ul>
			<div id='confirm'>
				<form>
					<!-- <h2> Is this the bike you want to sell?</h2> -->
					<button id="Yes">Sell this bike</button>
					<button id="No">That's not my bike</button>
				</form>	
			</div>
		</div>

	</div>
	<script>
	(function() {

	$("#submit-serial").one("click",function(e){
		e.preventDefault();
		var serial = $("#bike-serial").val();
		$("#submit-serial").hide();
		getBike(serial);
	});

	function getBike(serial) {

		$.get("/fetchbike", {serial: serial}, function(data){

			// check to make sure we got one bike back
			if (data["response"]["bikes"].length === 1){
				var bike = data["response"]["bikes"][0];
				console.log("bike:", bike)
			}
			// else {
			// 	alert("No bike with that serial number found.");
			// }

			// check if bike is stolen
			var stolen = bike["stolen"];
			if (stolen===true){
				alert("Uh oh. Looks like we have a stolen bike on our hands.");
				// Go to a stolen bike page.
			}

			// if bike is not stolen
			if (bike && stolen===false){
				// display bike photo and specs for verification
				$("#verify-bike").show();
				$("#bike-pic").attr('src', bike["photo"]);

				// How to make sure these don't append more than once?
				// Deactivate "find your bike" button?
				$("#bike-info > h1").text(bike["title"]);
				$("#serial").append(bike["serial"]);
				$("#manufacturer").append(bike["manufacturer_name"]);
				$("#model").append(bike["frame_model"]);
				$("#year").append(bike["year"]);
				$("#color").append(bike["frame_colors"][0]);

				if (bike["frame_material"]){
					$("#material").append(bike["frame_material"]["name"]);
				}
				if (bike["handlebar_type"]){
					$("#handlebar").append(bike["handlebar_type"]["name"]);
				}
				if (bike["rear_wheel_size"]){
					$("#wheel").append(bike["rear_wheel_size"]["name"]);	
				}

				// add click listeners to confirmation buttons
				$("#Yes").on("click",function(e){
					e.preventDefault();
					postBike(bike);
				});

				$("#No").on("click", function(e){
					e.preventDefault();
					flash("Check to make sure you entered your serial number correctly.");
					$("#verify-bike").hide();
					$("#submit-serial").show();
				});
			}
		});
	}

	function postBike(bike){
		// Turn bike object into JSON string to pass to python
		var bikedata = JSON.stringify(bike);

		$.post("/addbike", {bike: bikedata}, function(){
			alert("Bike added to database!");	// or flash message in flask

			window.location.replace("/list");
		});
	}

	})();

	</script>
		
{% endblock %} 
