{% extends 'base.html' %}

{% block scripts %}
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
{% endblock %}

{% block content %}
<style>
body{
	margin-left:-53px;
}

#map-panel, 
#map-panel.affix-top, 
#map-panel.affix {
	position:fixed;
	height: 100%;
	width: 570px;
	float:left;
	top:60px;
	left:0;
	bottom:0;
    position: fixed;
    margin-bottom:0px;
    width:570px;
  }

 #map-panel.affix-bottom{
 	position: absolute;
 }

#search-panel{
	float:right;
	width: 500px;
	/*width:50%;**/
}

#search-results{
	width:490px;
	/*width:100%;*/
	margin-left:10px;
}

#search-panel td {
	width: 200px;
}

#search-panel img{
	width: 200px;
	margin-bottom: 15px;
}

#search-filters{
 	height: 300px;
 	width: 100%;
 	margin-top:-130px;
 	top:0;
 }

.filter-group{
	display:inline-block;
	margin-bottom:20px;
	padding: 10px;
	border-bottom:1px dotted;
}

#filter-submit:hover{
	border:2px;
}

input[type=number]{
    width: 60px;
} 

#content{
    width: 1100px;
	margin-top: 75px;
}


</style>

<div id="content">

	<div id="map-panel" data-spy="affix" >
		<!-- class="col-md-8" -->
	</div>

	<div id="search-panel">
		
		<div id="search-filters">
				<form action= "#">
					<div id="materials-filters" class="filter-group">
						<strong>Frame Material</strong><br>
						<input name="Titanium" type="checkbox">  Titanium</input>
						<input name="Carbon or composite" type="checkbox">  Carbon Fiber</input>
						<input name="Aluminum" type="checkbox">  Aluminum</input>
						<input name="Steel" type="checkbox">  Steel</input>
						<!-- <input name="Wood or organic material" type="checkbox">Wood/Bamboo</input>  -->
					</div>
					<div id="handlebar-filters" class="filter-group">
						<strong>Handlebar Type</strong><br>
						<input name="Drop" type="checkbox">  Drop</input>
						<input name="Flat" type="checkbox">  Flat</input>
						<input name="Forward facing" type="checkbox">  Forward-facing</input>
						<input name="Rear facing" type="checkbox">  Rear-facing</input>
						<!-- <input name="Not handlebars" type="checkbox">Not handlebars</input>
					<input name="BMX style" type="checkbox">BMX-style</input> -->
					</div>
					<div id="price-filters" class="filter-group">
						<strong>Price</strong><br>
						Min: $ <input name="min_price" type="number"></input>
						Max: $ <input name="max_price" type="number"></input>
					</div><br>
					<button type="submit" id="filter-submit">Apply Filters</button>
				</form>
		</div>

		<table id="search-results">
			<!-- Listings populate here -->
		</table>

	</div>
</div>
			

<!-- 	<nav>
		<ul class="pagination">
			<li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
		</ul>
	</nav>
<!-- </div> -->


<script>


	$("#map-panel").affix();

	var displaySearchResults = function(data) {

		// List of listings
		var listings = data['response']

		// Empty search results div
		var resultsDiv = $("#search-results");
		resultsDiv.empty();

		// Clear any markers that are on map 
		if (typeof markerLayer !== 'undefined'){
			markerLayer.clearLayers();
		} 

		// Clear marker list
		markerList = [];

		// Place new markers
		placeMarkers(listings);

		// Load search results table 
		searchResultsTable(listings);
	}

	var searchResultsTable = function(listings){

		// Initializing 2-column search result table
		var numCols = 2;

		$table = $('#search-results');

		// Loop through response object
		for (var i = 0; i < listings.length; i++){

			// Current listing
			var listing = listings[i]

			// Create JQuery object for listing title/link
			var $listingLink = $("<a />",{
				href: listing.url,
				text: listing.title 
			});
			
			// Create JQuery object for bike photo	
			var $bikePhoto = $("<img>")
			$bikePhoto.attr('src', listing.photo)

			// Add to end of search results table
			var tr = $table.find(">tbody>tr:last");
			if (!tr.length || tr.find(">td").length == numCols){
				var tr = $("<tr>");
				$table.append("<tr>");
			}

			// Create table cell and append content
			var td = $("<td>");
			td.append($listingLink).append("<br>").append($bikePhoto);
			tr.append(td)
		}

		$('#search-panel').append($table);

	}

	function placeMarkers(listings){

		for (var i = 0; i < listings.length; i++){

			//Current listing
			var listing = listings[i]

			// create new marker/layer
			newMarker = L.mapbox.featureLayer(); 

			// Defining custom HTML for marker's popup
			newMarker.on('layeradd', function(e){
				var marker = e.layer;
				var photo = marker.feature.properties.image;
				var url = marker.feature.properties.url;

				var popupContent = '<a href="' + url + '">' + 
									marker.feature.properties.title + '</a><br>' +
									'<img src="' + photo + '">';
				
				marker.bindPopup(popupContent, {
					closeButton: false,
					// minWidth: 280
				});
			});

			// Define geoJSON for new marker
			var geoJson = [{
				type: 'Feature',
				"geometry": { 
					"type": "Point", 
					"coordinates": [listing.longitude, listing.latitude]
				},
				"properties": {
					"title": listing.title,
					"image": listing.photo,
					"url": listing.url,
					'marker-size': 'large',
		        	'marker-color': '#00529f',
		        	'marker-symbol': 'bicycle'
				}
			}];

			// Set geoJSON
			newMarker.setGeoJSON(geoJson);

			// Add marker to the list
			markerList.push(newMarker);
		}	

		// Create a group for all the markers
		markerLayer = L.layerGroup(markerList)
		// And add them all to the map at once
		markerLayer.addTo(map);
	}

	function loadSearchResults(materials, min_price, max_price, handlebars){
		$.get('/get_all_bikes', {	materials: materials, 
									min_price: min_price, 
									max_price: max_price,
									handlebars: handlebars }, displaySearchResults);
	}

	function initializeMap(){
		//Connect to MapBox API
		L.mapbox.accessToken = "pk.eyJ1Ijoiam1jZWxyb3kiLCJhIjoiVVg5eHZldyJ9.FFzKtamuKHb_8_b_6fAOFg";

		// Initiate map and set view
		map = L.mapbox.map('map-panel', 'examples.map-i86nkdio');
		// add geocoder bar
		map.addControl(L.mapbox.geocoderControl('mapbox.places-v1'));
		// set starting view/zoom(SF)
		map.setView([37.79, -122.41], 14);

	}

	function addEventListeners(){

		$('#filter-submit').click(function(e){

			e.preventDefault();

			var materials = [];
			$('#materials-filters input:checked').each(function(i,material){
		 		materials.push($(material).attr('name'));
			});

			var min_price_value = $('#search-filters input[name="min_price"').val();
			if (min_price_value.length > 0){
				var min_price = min_price_value
			}
			else{
				var min_price = "";
			}

			var max_price_value = $('#search-filters input[name="max_price"').val();
			if (max_price_value.length > 0){
				var max_price = max_price_value
			}
			else{
				var max_price = "";
			}

			var handlebars = [];
			$('#handlebar-filters input:checked').each(function(i,handlebar){
		 		handlebars.push($(handlebar).attr('name'));
			});

			loadSearchResults(materials, min_price, max_price, handlebars);
		});
	}

	$(document).ready(function(){

		initializeMap();

		loadSearchResults([]);

		addEventListeners();

	});
	

</script>

{% endblock %} 
