{% extends 'base.html' %}

{% block scripts %}
	<!-- Mapbox -->
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
	<script src="{{ url_for('static',filename='js/microevent.js') }}"></script>

{% endblock %}

{% block content %}
<style>
body{
	margin-left:-53px;
}

#map-panel{
	width: 570px;
	float:left;
	top:60px;
	left:0;
	bottom:0;
    position: fixed;
    margin-bottom:0px;
    overflow:hidden;
  }

#search-panel{
	float:right;
	width: 500px;
}

#search-results{
	width:490px;
	list-style-type: none;
	padding: 0;
	overflow: auto;
}

#search-results li {
	display: inline-block;
	width: 40%;
	vertical-align: top;
}

#search-panel img{
	width: 200px;
	width: 90%;
	margin-right: 30px;
	margin-bottom: 15px;
}

#search-filters{
 	height: 300px;
 	width: 100%;
 	margin-top:-130px;
 	top: 0;
 }

.filter-group{
	display:inline-block;
	margin-bottom:20px;
	padding: 10px;
	border-bottom:1px dotted;
}

#filter-submit:hover{
	border:2px;
}

input[type=number]{
    width: 60px;
} 

#content{
    width: 1100px;
	margin-top: 75px;
}


</style>

<div id="content">
	
	<div id="map-panel"  class="col-lg-6">
		<!-- class="col-md-8" -->
	</div>

	<div id="search-panel" class="col-lg-6">
		
		<div id="search-filters">
				<form action= "#">
					<div id="materials-filters" class="filter-group">
						<strong>Frame Material</strong><br>
						<input name="Titanium" type="checkbox">  Titanium</input>
						<input name="Carbon or composite" type="checkbox">  Carbon Fiber</input>
						<input name="Aluminum" type="checkbox">  Aluminum</input>
						<input name="Steel" type="checkbox">  Steel</input>
						<!-- <input name="Wood or organic material" type="checkbox">Wood/Bamboo</input>  -->
					</div>
					<div id="handlebar-filters" class="filter-group">
						<strong>Handlebar Type</strong><br>
						<input name="Drop" type="checkbox">  Drop</input>
						<input name="Flat" type="checkbox">  Flat</input>
						<input name="Forward facing" type="checkbox">  Forward-facing</input>
						<input name="Rear facing" type="checkbox">  Rear-facing</input>
						<!-- <input name="Not handlebars" type="checkbox">Not handlebars</input>
					<input name="BMX style" type="checkbox">BMX-style</input> -->
					</div>
					<div id="price-filters" class="filter-group">
						<strong>Price</strong><br>
						Min: $ <input name="min_price" type="number"></input>
						Max: $ <input name="max_price" type="number"></input>
					</div><br>
					<button type="submit" id="filter-submit">Apply Filters</button>
				</form>
		</div>

		<div id="paginator">
			<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
			<a id="prev">Previous</a> 
			&nbsp;&nbsp;&nbsp;&nbsp; 
			Showing <span id="low"></span> - <span id="high"></span> of <span id="total"></span> results
			&nbsp;&nbsp;&nbsp;&nbsp; 
 			<a id="next">Next</a>
			<span class="glyphicon glyphicon-arrow-right"></span>
		</div><br>
		<ul id="search-results">
			<!-- Listings populate here -->
		</ul>

	</div>
</div>
			
<script>

// Models

var events = new MicroEvent();

var searchParameters = {
	materials: [],
	handlebars: [],
	maxPrice: null,
	minPrice: null,

	latitudeMin: null,
	latitudeMax: null,
	longitudeMin: null,
	longitudeMax: null,

	resultLimit: 16,
	currentPage: 0
}

function getParameter(key){		
	return searchParameters[key];	
}

function setParameter(key, value){
	searchParameters[key] = value;
	// events.trigger('parameter-update');
}

var results = {
	results: [],
	numResults: null,
	pageLower: null,
	pageUpper: null,
	totalResults: null
	// store current marker list here so its not a global?
}

function fetchResults(callback){
	$.get('/getbikes', searchParameters, callback);
	// fetches the bikes for current searchParameters
	// once it has that data, calls callback function
}

events.on('parameter-update', function() {
	fetchResults(function(data){
		updateResults(data);
	});
});

// callback function for fetchResults
function updateResults(data){
	var response = data["response"];
	console.log("response from server: ", response)
	results.results = response["listings"]; // array of listings
	console.log("list of search results to display: ", results.results)
	results.numResults = response["num_results"];  // length of listings array
	results.pageLower = response["page_range_lower"]; // lower bound of items to display
	results.pageUpper = response["page_range_upper"]; // lower bound of items to display
	results.totalResults = response["total_results"];
	// trigger results-update so search panel, pagination, listings update
	events.trigger('results-update');
}

// Views

function Map(el) { 
	this.el = el;
	this.initialize();

	events.on('results-update', function() {
		// Clear any markers that are on map 
		if (typeof this.markerLayer !== 'undefined'){
			this.markerLayer.clearLayers();
		} 
		// Place new markers
		this.placeMarkers(results);
	}.bind(this));

	// Change search parameters when map moves
	this.map.on('moveend', function(){
		setParameter('latitudeMin', this.map.getBounds().getSouth());
		setParameter('latitudeMax', this.map.getBounds().getNorth());
		setParameter('longitudeMin', this.map.getBounds().getWest());
		setParameter('longitudeMax', this.map.getBounds().getEast());
		events.trigger('parameter-update');
	}.bind(this));
}

Map.prototype.initialize = function() {
	//Connect to MapBox API
	L.mapbox.accessToken = "pk.eyJ1Ijoiam1jZWxyb3kiLCJhIjoiVVg5eHZldyJ9.FFzKtamuKHb_8_b_6fAOFg";

	// Initiate map and set view
	this.map = L.mapbox.map(this.el, 'examples.map-i86nkdio');
	// add geocoder bar
	this.map.addControl(L.mapbox.geocoderControl('mapbox.places-v1'));
	// set starting view/zoom(SF)
	this.map.setView([37.78, -122.44], 13);
};

Map.prototype.placeMarkers = function(results){

	var listings = results["results"];

	var geoJson = []

	this.markerLayer = L.mapbox.featureLayer(); 

	// Defining custom HTML for the popups
	this.markerLayer.on('layeradd', function(e){
		var marker = e.layer;
		var photo = marker.feature.properties.image;
		var url = marker.feature.properties.url;
		var popupContent = '<a href="' + url + '">' + 
							marker.feature.properties.title + '</a><br>' +
							'<img src="' + photo + '">';
		marker.bindPopup(popupContent);
	});

	// object to map markers to listing ids

	for (var i = 0; i < listings.length; i++){

		//Current listing
		var listing = listings[i]

		// Define geoJSON for marker and push to layer list
		geoJson.push({
			type: 'Feature',
			"geometry": { 
				"type": "Point", 
				"coordinates": [listing.longitude, listing.latitude]
			},
			"properties": {
				"title": listing.title,
				"id": listing.id,
				"image": listing.photo,
				"url": listing.url,
				'marker-size': 'large',
	        	'marker-color': '#00529f',
	        	'marker-symbol': 'bicycle'
			}
		});
	}	
	// Add them all to the map 
	this.markerLayer.setGeoJSON(geoJson);
	this.markerLayer.addTo(this.map);
}

Map.prototype.toggleMarkerColor = function(){
	
}

function Listings(el) {

	// events.on('parameter-update', function(){
	// 	// Show loading indicator in searchpanel while results are being fetched
	// 	pass
	// });

	events.on('results-update', function() {
		// Empty search results div - could you do el.empty()? is el available to you?
		$searchPanel = $('#search-results')
		$searchPanel.empty()

		listings = results["results"];

		// Loop through next 10 records of response object
		for (var i = 0; i < listings.length; i++){

			// Current listing
			var listing = listings[i]

			// Create JQuery object for listing title/link
			var $listingLink = $("<a />",{
				href: listing.url,
				text: listing.title 
			});
			
			// Create JQuery object for bike photo	
			var $bikePhoto = $("<img>")
			$bikePhoto.attr('src', listing.photo)

			var $li = $("<li class='listing-link' listing-id='"+ listing.id + "' >")

			// link it to its map marker for hover event
			var marker = 

			$li.append($listingLink,$bikePhoto);
			$searchPanel.append($li);
		}
	});

}

function Paginator(el){ 
	// get next/previous buttons
	var prev = el.querySelector('#prev'); // jquery vs. el.querySelector?
	var next = el.querySelector('#next');
	var lower = el.querySelector('#low');
	var upper = el.querySelector('#high');
	var total = el.querySelector('#total');

	// add event listeners to buttons
	$(prev).on('click', function(){
		var page = getParameter('currentPage');
		if (page > 0){
			setParameter('currentPage', page - 1);
		}
		events.trigger('parameter-update')
	});

	$(next).on('click', function(){
		var page = getParameter('currentPage');
		setParameter('currentPage', page + 1);
		events.trigger('parameter-update') // ultimately setParameter will trigger parameter-update 
	});

	events.on('results-update', function(){
		$(lower).html(results["pageLower"]);
		$(upper).html(results["pageUpper"]);
		$(total).html(results["totalResults"]);

		// hides prev button when on first page
		if (searchParameters["currentPage"] === 0){
			$(prev).hide(); 
			$(".glyphicon-arrow-left").hide();
		}
		if (results["pageUpper"] === results["totalResults"]){
			$(next).hide();
			$(".glyphicon-arrow-right").hide();
		}
		if (searchParameters["currentPage"] != 0 && results["pageUpper"] != results["totalResults"]){
			$(prev).show();
			$(next).show();
			$(".glyphicon-arrow-left").show();
			$(".glyphicon-arrow-right").show();
		}
	});

}

function Filters(el){

  	var handlebars = el.querySelector('#handlebars');
 
	// add .on('change') to individual filter knobs..

	$('#filter-submit').on('click', function(e){

		e.preventDefault();

		var material_list = []
		// get checked materials from form
		$('#materials-filters input:checked').each(function(i,material){
			material_list.push($(material).attr('name'));
		});

		setParameter('materials', material_list);

		// get min price from form
		var minPriceValue = $('#search-filters input[name="min_price"').val();
		if (minPriceValue.length > 0){
			setParameter('minPrice', minPriceValue);
		}

		// get max price from form
		var maxPriceValue = $('#search-filters input[name="max_price"').val();
		if (maxPriceValue.length > 0){
			setParameter('maxPrice', maxPriceValue);
		}

		// get checked handlebars from form
		var handlebar_list = [];
		$('#handlebar-filters input:checked').each(function(i,handlebar){
			handlebar_list.push($(handlebar).attr('name'));
		});

		setParameter('handlebars', handlebar_list);
		
		// reset page to 0
		setParameter('currentPage',0)
		events.trigger('parameter-update');
	});
}

// TODO: function that generates hash on parameter update

// Controller

$(function(){
	new Map(document.querySelector('#map-panel'));
	new Listings(document.querySelector('#search-results'));
	new Paginator(document.querySelector('#paginator'));
	new Filters(document.querySelector('#search-filters'));

	fetchResults(function(data){
		updateResults(data);
	});

	// Keeps the map same height as window
	function resizeDiv() {
		var vph = $(window).height();
		$("#map-panel").css({'height': vph });
	}

	$(window).on('resize', function(event) {
		console.log("resizeDiv called!");
		resizeDiv();
	});

});
	

</script>

{% endblock %} 
