{% extends 'base.html' %}

{% block scripts %}
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
{% endblock %}

{% block content %}

<div id="search-panel">	
	<div id="listing-wrapper">
		<h1> {{ bike.title }}</h1>
		<span id="price"><h3>${{ listing.asking_price }}.00</h3></span>
		<img class="bike-pic" src={{ bike.photo }}>
		
		<table class="table attr-list">
			<th><h3>Specs</h3></th>
			<tr>
				<td class="attr-title">Serial</td>
				<td>{{ bike.serial }}</td>
			</tr><tr>
				<td class="attr-title">Size</td>
				<td>{{ bike.size }}</td>
			</tr><tr>
				<td class="attr-title">Manufacturer</td>
				<td>{{ bike.manufacturer }}</td>
			</tr><tr>				
				<td class="attr-title">Model</td>
				<td>{{ bike.frame_model }}</td>
			</tr><tr>
				<td class="attr-title">Year</td>
				<td>{{ bike.year }}</td>
			</tr><tr>
				<td class="attr-title">Material</td>
				<td>{{ bike.frame_material }}</td>
			</tr><tr>
				<td class="attr-title">Handlebar type</td>
				<td>{{ bike.handlebar_type }}</td>
			</tr><tr>
				<td class="attr-title">Rear Wheel Diameter</td>
				<td>{{ bike.rear_wheel_size }}</td>
			</tr><tr>
				<td class="attr-title">Primary colors</td>
				<td>{{ bike.frame_colors }}</td>
			</tr>
		</table>

		<h3>A few more words</h3>
		<p> {{ listing.additional_text }}</p>
		<a href="{{bike.bikeindex_url}}">See it on BikeIndex</a>

		<div id="bikeLocation">
			<!-- Map will go here -->
		</div>
		

		<h3>Contact seller</h3>
		{% if g.logged_in %}
			<a href="{{ user.facebook_url }}"><img class="seller-contact" src="{{user.avatar}}"></a>
			<br>
			<h4> {{ user.first_name }} </h4>
			<p>{{ user.email }}</p>
		{% else %}
			<p> You must be <a data-toggle="modal" data-target="#login-modal">logged in</a> to see seller's contact information.</p>
		{% endif %}

		<div style="clear:both">
		<a href="/">  &lt;&lt; Back to search</a>
		</div><br>
	</div>

</div>

	
<script>
//display a little mapbox with listing location

	var bikeLocationMap = function(){
		//Connect to MapBox API
		L.mapbox.accessToken = "pk.eyJ1Ijoiam1jZWxyb3kiLCJhIjoiVVg5eHZldyJ9.FFzKtamuKHb_8_b_6fAOFg";
		// Initiate map 
		map = L.mapbox.map('bikeLocation', 'examples.map-i86nkdio');


		// get coordinates of listing
		var longitude = {{ listing.longitude }};
		var latitude = {{ listing.latitude }};
		console.log(longitude, latitude);
		// set starting view/zoom(SF)
		map.setView([latitude, longitude], 12);

		// Create new marker/layer
		newMarker = L.mapbox.featureLayer(); 

		// Marker location and properties
		var geoJson = [{
			type: 'Feature',
				"geometry": { 
					"type": "Point", 
					"coordinates": [longitude, latitude]
				},
				"properties": {
					'marker-size': 'large',
		        	'marker-color':  '#00529f',
		        	'marker-symbol': 'bicycle'
				}
			}];

		// Set geoJSON
		newMarker.setGeoJSON(geoJson);
		newMarker.addTo(map);
	}

	$(document).ready(function(){
		bikeLocationMap();
	});

</script>

{% endblock %}