{% extends 'base.html' %}

{% block scripts_head %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
{% endblock %}

{% block content %}

		<form id="listing-form" action="#" method='POST'>
			<h1> List your bike </h1>
			asking price
			$ <input id="price"type="text" name="price"></input><br><br>  <!--Numbers only-->
			your address or cross streets
			<input id="location" type="text" name="zipcode"></input><br><br>
			anything else you want to say?<br><br>
			<textarea id="comments" rows="4" cols="50" name="comments" placeholder="What do you love about this bike?"></textarea><br><br>
			<input type="submit" value="Finish Listing"></input>
		</form>
		<div id="mapbox">
			<div id="map-canvas"></div>
		<div>

	<script src="static/js/listing_form.js"></script>
{% endblock %}

