{% extends 'base.html' %}

{% block content %}

<div id="search-panel">	
	<div id="listing-wrapper">
		<h1> {{ bike.title }}</h1>
		<span id="price"><h3>${{ listing.asking_price }}.00</h3></span>
		<img class="bike-pic" src={{ bike.photo }}>
		
		<table class="table attr-list">
			<th><h3>Specs</h3></th>
			<tr>
				<td class="attr-title">Serial</td>
				<td>{{ bike.serial }}</td>
			</tr><tr>
				<td class="attr-title">Size</td>
				<td>{{ bike.size }}</td>
			</tr><tr>
				<td class="attr-title">Manufacturer</td>
				<td>{{ bike.manufacturer }}</td>
			</tr><tr>				
				<td class="attr-title">Model</td>
				<td>{{ bike.frame_model }}</td>
			</tr><tr>
				<td class="attr-title">Year</td>
				<td>{{ bike.year }}</td>
			</tr><tr>
				<td class="attr-title">Material</td>
				<td>{{ bike.frame_material }}</td>
			</tr><tr>
				<td class="attr-title">Handlebar type</td>
				<td>{{ bike.handlebar_type }}</td>
			</tr><tr>
				<td class="attr-title">Rear Wheel Diameter</td>
				<td>{{ bike.rear_wheel_size }}</td>
			</tr><tr>
				<td class="attr-title">Primary colors</td>
				<td>{{ bike.frame_colors }}</td>
			</tr>
		</table>
		
		<div class="addtl-text">
			<h3>A few more words</h3>
			<p> {{ listing.additional_text }}</p>
			<a href="{{bike.bikeindex_url}}">See it on BikeIndex</a>
		</div>

		<div id="bikeLocation">
			<!-- Map will go here -->
		</div>
		
		<h3>Contact seller</h3>
		{% if g.logged_in %}
			<a href="{{ user.facebook_url }}"><img class="seller-contact" src="{{user.avatar}}"></a>
			<br>
			<h4> {{ user.first_name }} </h4>
			<p>{{ user.email }}</p>
		{% else %}
			<p> You must be <a data-toggle="modal" data-target="#login-modal">logged in</a> to see seller's contact information.</p>
		{% endif %}

		<div style="clear:both">
		<a href="/">  &lt;&lt; Back to search</a>
		</div><br>
	</div>

</div>

{% endblock %}

{% block scripts %}
	App.initialize("active-listing",{
	  latitude: {{ listing.latitude }},
	  longitude: {{ listing.longitude }}
	});
{% endblock %}