{% extends 'base.html' %}

{% block scripts %}
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
{% endblock %}

{% block content %}
<style>

	.bike-info > img{
		width: 500px;
		float: left;
		margin: 10px;
	}

	#bikeLocation{
		height: 200px;
		width: 200px;
	}

	#user-contact img {
		display:inline;
		float:left;
		margin-right:10px;
		width:115px;
	}
	#user-contact{

	}

</style>
	<div class="bike-info">	
		<h1> {{ bike.title }}</h1>
		<img src={{ bike.photo }}><br><br>
		<ul class="attr-list">
			<li id="price"><span class="attr-title">Price</span>${{ listing.asking_price }}.00</li>
			<li id="serial"><span class="attr-title">Serial</span>{{ bike.serial }}</li>
			<li id="size"><span class="attr-title">Size</span>{{ bike.size }}</li>
			<li id="manufacturer"><span class="attr-title">Manufacturer</span>{{ bike.manufacturer }}</li>
			<li id="model"><span class="attr-title">Model</span> {{ bike.frame_model }} </li>
			<li id="year"><span class="attr-title">Year</span> {{ bike.year }} </li>
			<li id="material"><span class="attr-title">Frame Material</span> {{ bike.frame_material }}</li>
			<li id="handlebar"><span class="attr-title">Handlebar type</span> {{ bike.handlebar_type }}</li>
			<li id="wheel"><span class="attr-title">Wheel diameter</span> {{ bike.rear_wheel_size }}</li>
			<li id="color"><span class="attr-title">Primary colors</span>{{ bike.frame_colors }}</li>
		</ul>
		+ detailed specs<br><br><br><br><br>
	</div>
	<br>
	<div class="listing-info">
		<h3>A few more words</h3>
		<p> {{ listing.additional_text }}</p>
		<a href="{{bike.bikeindex_url}}">See it on BikeIndex</a>
		<br><br>
		<h3>Where is this bike?</h3>
		<div id="bikeLocation">
		</div>
		<br><br>
		<h3>Contact seller</h3>
		{% if g.logged_in %}
		<div id="user-contact">
			<a href="{{ user.facebook_url }}"><img src="{{user.avatar}}"></a>
			<h4> {{ user.first_name }} </h4>
			{{ user.email }}
		</div>
		{% else %}
		<p> You must be <a href="/login">logged in</a> to see seller's contact information.</p>
		{% endif %}
	</div>


	
<script>
//display a little mapbox with listing location

	var bikeLocationMap = function(){
		//Connect to MapBox API
		L.mapbox.accessToken = "pk.eyJ1Ijoiam1jZWxyb3kiLCJhIjoiVVg5eHZldyJ9.FFzKtamuKHb_8_b_6fAOFg";
		// Initiate map 
		map = L.mapbox.map('bikeLocation', 'examples.map-i86nkdio');


		// get coordinates of listing
		var longitude = {{ listing.longitude }};
		var latitude = {{ listing.latitude }};
		console.log(longitude, latitude);
		// set starting view/zoom(SF)
		map.setView([latitude, longitude], 14);

		// Create new marker/layer
		newMarker = L.mapbox.featureLayer(); 

		// Marker location and properties
		var geoJson = [{
			type: 'Feature',
				"geometry": { 
					"type": "Point", 
					"coordinates": [longitude, latitude]
				},
				"properties": {
					'marker-size': 'large',
		        	'marker-color':  '#00529f',
		        	'marker-symbol': 'bicycle'
				}
			}];

		// Set geoJSON
		newMarker.setGeoJSON(geoJson);
		newMarker.addTo(map);
	}

	$(document).ready(function(){
		bikeLocationMap();
	});



</script>

{% endblock %}