{% extends 'base.html' %}

{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
{% endblock %}

{% block content %}
<style>

#mapbox{
	width: 430px;
	float:left;
	top:60px;
	left:0;
	bottom:0;
    position: fixed;
    margin-bottom:0px;
    overflow:hidden;
  }

#search-panel{
	float:right;
	width: 746px;
	margin-left: 430px;
	position: absolute;
	margin-top: -66px;
}

#listing-form{
	margin-top:10px;
	margin-bottom:100px;
}

.bike-pic{
	width: 400px;
	float: left;
	margin-left: 0px;
	border-radius:5px;
	display:block;
	margin-top:10px;
}


</style>

<div id="content">
	
	<div id="mapbox" class="col-lg-6">
	</div>

	<div id="search-panel" class="col-lg-6">
		<h1> Complete Your Listing </h1>
		<img class="bike-pic" src={{ bike.photo }}>
		<form id="listing-form" action="#" method='POST'>
			<h4>Asking price</h4>
			$ <input id="price"type="text" name="price"></input><br><br>  <!--Numbers only-->
			<h4>Your location</h4>
			<input id="location" type="text" name="zipcode"></input><br><br>
			<h4>Anything else you want to say?</h4>
			<textarea id="comments" rows="4" cols="50" name="comments" placeholder="What do you love about this bike?"></textarea><br><br>
			<input class="btn btn-default" type="submit" value="Finish Listing"></input>
		</form>
	</div>
</div>

	<script>

		var initializeMap = function(){
			//Connect to MapBox API
			L.mapbox.accessToken = "pk.eyJ1Ijoiam1jZWxyb3kiLCJhIjoiVVg5eHZldyJ9.FFzKtamuKHb_8_b_6fAOFg";
			// Initiate map and set view
			map = L.mapbox.map('mapbox', 'examples.map-i86nkdio');
			// set starting view/zoom(SF)
			map.setView([37.79, -122.41], 14);
		}

		$(document).ready(function(){
			initializeMap();
			geocoder = new google.maps.Geocoder();
		});

		$("#location").blur(function(e){
			var value = $(this).val();
			placeMarker(value);
		});

		$("#listing-form").on("submit", function(e){
			// Send marker coordinates for location instead of form field value
			e.preventDefault();
			var price = document.getElementById("price").value;
			var comments = document.getElementById("comments").value;

			// AJAX post to add listing to database
			$.post("/addlisting", {
				price: price,
				comments: comments,
				latitude: latitude,
				longitude: longitude
				},
				function(response){ // server response returns bike_id
					window.location.href = "/listing/" + response;
				});
			});

		markerList = [];

		var placeMarker = function(location) {
			geocoder.geocode({address:location}, function(results){
			latitude = results[0].geometry.location["k"];
			longitude = results[0].geometry.location["B"]

			map.setView([latitude, longitude], 14);

			// If there is already a marker, delete it
			if (typeof markerLayer !== 'undefined'){
				markerLayer.clearLayers();
			} 

			markerList = [];

			// Create new marker/layer
			newMarker = L.mapbox.featureLayer(); 

			// Marker location and properties
			var geoJson = [{
			type: 'Feature',
				"geometry": { 
					"type": "Point", 
					"coordinates": [longitude, latitude]
				},
				"properties": {
					'marker-size': 'large',
		        	'marker-color':  '#00529f',
		        	'marker-symbol': 'bicycle'
				}
			}];

			// Set geoJSON
			newMarker.setGeoJSON(geoJson);

			// Add marker to the list 
			markerList.push(newMarker);
			// so we can clear layer if user needs to place a new marker
			markerLayer = L.layerGroup(markerList);
			// and finally, add it to the map
			markerLayer.addTo(map);
			});
		}

	</script>
{% endblock %}

