{% extends 'base.html' %}

{% block content %}

<div id="fav-bike-wrapper">
	<h1>{{ g.name }}'s wish list</h1>
	<table id="fav-bike-table" class="table">
	{% for listing in listings %}

		<tr>
			<td><a href="{{ listing.url }}"><img class="bike-pic-sm" src="{{ listing.photo }}"></a></td>
			<td> 
				<a href="{{ listing.url }}"><h4>{{ listing.title }}</h4></a>
				<strong>Price:</strong> ${{ listing.price }}.00<br>
				<strong>Posted on:</strong> {{ listing.date.strftime('%m-%d-%Y') }}<br>
				<a class="remove-favorite" data-id="{{listing.id}}" >Remove</a>
			</td>
		</tr>

	{% endfor %}

	{% if listings == [] %}
		<h4> You haven't added any favorite bikes yet.</h4>
	{% endif %}

	</table>
</div>

{% endblock %}

{% block scripts %}
	App.initialize("my-favorites");
{% endblock %}



